// 左浮
.fl {
  float: left;
}

//   右浮
.fr {
  float: right;
}

//   清除浮动
.clear:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
}

//   溢出隐藏
.ovh {
  overflow: hidden;
}

// 溢出自动
.ova {
  overflow: auto;
}

.block {
  display: block;
}

.i-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column
}

.flex-center {
  @extend .flex;
  align-items: center; // 项目在交叉轴上如何对齐
}

.flex-left {
  @extend .flex;
  justify-content: flex-start; // 项目在主轴上的对齐方式
}

.flex-right {
  @extend .flex;
  justify-content: flex-end; // 项目在主轴上的对齐方式
}

.flex-space {
  @extend .flex;
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.pointer {
  cursor: pointer;
}

//隐藏元素
.none {
  display: none;
}

//字体加粗
.bold {
  font-weight: bold;
}

//字体减粗
.fw400 {
  font-weight: 400;
}
.font12{
  font-size: 12px;
}

//传统盒子模型
.bzb {
  box-sizing: border-box;
}

//固定定位
.pf {
  position: fixed;
}

//相对定位
.pr {
  position: relative;
}

//固定定位
.pa {
  position: absolute;
}

//单行文本水平居中
.text-c {
  text-align: center;
}

//单行文本水平居右
.text-r {
  text-align: right;
}

//单行文本水平居左
.text-l {
  text-align: left;
}

.w-100 {
  width: 100%;
}

.w-720 {
  width: 720px;
}

.detailLink {
  font-size: 14px;
  color: blue;
  width: 100px;
  padding-left: 10px;

}

.fs12 {
  font-size: 12px;
}

.fs14 {
  font-size: 14px;
}

.fs16 {
  font-size: 16px;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.text-white{
  color: #fff;
}

// 定义内外边距，历遍1-40 取其偶数和5的倍数
@for $i from 0 through 100 {
  @if $i % 2==0 or $i % 5==0 {
    .m#{$i} {
      margin: $i + px;
    }

    .p#{$i} {
      padding: $i + px;
    }

    .w#{$i} {
      width: $i + px;
    }

    @each $short,
    $long in l left,
    t top,
    r right,
    b bottom,
    x (left, right),
    y (top, bottom) {
      @if $short==x or $short==y {
        .m#{$short}#{$i} {
          @each $direction in $long {
            margin-#{$direction}: $i + px;
          }
        }

        .m#{$short}r#{$i} {
          @each $direction in $long {
            margin-#{$direction}: $i/100 + rem;
          }
        }

        .p#{$short}#{$i} {
          @each $direction in $long {
            padding-#{$direction}: $i + px;
          }
        }

        .p#{$short}r#{$i} {
          @each $direction in $long {
            padding-#{$direction}: $i/100 + rem;
          }
        }
      }

      @else {
        .m#{$short}#{$i} {
          margin-#{$long}: $i + px;
        }

        .m#{$short}r#{$i} {
          margin-#{$long}: $i/100 + rem;
        }

        .p#{$short}#{$i} {
          padding-#{$long}: $i + px;
        }

        .p#{$short}r#{$i} {
          padding-#{$long}: $i/100 + rem;
        }
      }
    }
  }
}